{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of loans -->
<!-- loanlist is the variable passed in containing list of loans -->
<table class="table">
    {% set hiddenColumn=[1, 4] %}
    {% set nameList=[] %}
    <thead>
        {% for columnName in ['BorrowerID', 'FirstName', 'FamilyName', 'BorrowerID', 'BookcopyID', 'LoanDate', 'Returned', 'BookID', 'BookTitle', 'Author', 'Category', 'YearOfPublication', 'Format'] %}
            <th {% if loop.index in hiddenColumn %}hidden{% endif %}>{{columnName}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for loan in loanlist %}
        <tr style="background-color: {% if loan[-1]=='eBook' %}green{% elif loan[-1]=='Audio Book' %}yellow{% else %}white{% endif %}">
            {% set fullName=loan[1]+loan[2] %}
            {% set isShow=1 %}
            <label hidden>
                {% if fullName not in nameList %}
                    {{ nameList.append(fullName) }}
                {% else %}
                    {% set isShow=0 %}
                {% endif %}
            </label>
            {% for column in loan %}
            <td {% if loop.index in hiddenColumn %}hidden{% endif %}>
                {% if loop.index == 7 %}
                {% if column == 1 %}Returned{% else %}Onloan{% endif %}
                {% elif loop.index in [2, 3] %}
                    {% if isShow==1 %}
                    {{column}}
                    {% endif %}
                {% else %}
                {{column}}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}