{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of loans -->
<!-- loanlist is the variable passed in containing list of loans -->
<table class="table">
    {% set hiddenColumn=[1, 4] %}
    {% set nameList=[] %}
    <thead><tr>
        {% for columnName in ['BorrowerID', 'FirstName', 'FamilyName', 'BorrowerID', 'BookcopyID', 'LoanDate', 'Returned', 'BookID', 'BookTitle', 'Author', 'Category', 'YearOfPublication', 'Format'] %}
            <th {% if loop.index in hiddenColumn %}hidden{% endif %}>{{columnName}}</th>
        {% endfor %}
    </tr></thead>
    <!--  {# Using namespace #}
    <tbody>
        {% set currentBorrower = namespace(id=0) %}
        {% for loan in loanlist %}
            {% if loan[-1] == 'eBook' %}
                {% set color='green' %}
            {% elif loan[-1] == 'Audio Book' %}
                {% set color='yellow' %}
            {% else %}
                {% set color='white' %}
            {% endif %}
        <tr bgcolor={{color}}>
            {% if currentBorrower.id != loan[0] %}
                {% set currentBorrower.id = loan[0] %}
                <td>{{loan[1]}}</td>
                <td>{{loan[2]}}</td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            
            <td>{{loan[4]}}</td>
            <td>{{loan[5]}}</td>
            <td>{% if loan[6] == 0 %}Onloan{% else %}Returned{% endif %}</td>
            <td>{{loan[7]}}</td>
            <td>{{loan[8]}}</td>
            <td>{{loan[9]}}</td>
            <td>{{loan[10]}}</td>
            <td>{{loan[11]}}</td>
            <td>{{loan[12]}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
    -->
    
    <tbody>
        {# set background color #}
        {% for loan in loanlist %}
            {% if loan[-1] == 'eBook' %}
                {% set color='green' %}
            {% elif loan[-1] == 'Audio Book' %}
                {% set color='yellow' %}
            {% else %}
                {% set color='white' %}
            {% endif %}
        
        <tr bgcolor={{color}}>
            {% set fullName=loan[1]+loan[2] %}
            <label hidden disabled>
                {# I worked out this way using list to store the full name which has appeared #}
                {# In this way, it doesnot matter if the data is sorted or not #} 
                {# The append function will out put a None on web, so I put it in a hidden and disabled label #}
                {% if fullName not in nameList %}
                    {{ nameList.append(fullName) }}
                    {% set isShow=True %}
                {% else %}
                    {% set isShow=False %}
                {% endif %}
            </label>
            {% for column in loan %}
            <td {% if loop.index in hiddenColumn %}hidden{% endif %}>
                {% if loop.index == 7 %}  {# Marked as Returned and Onloan #}
                    {% if column == 1 %}Returned{% else %}Onloan{% endif %}     
                {% elif loop.index in [2, 3] %}  {# whether to show the borrower name or not #}
                    {% if isShow %}{{column}}{% endif %}
                {% else %}
                    {{column}}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}

{% block title %}Current Loans{% endblock %}
